@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-2: #ecfdf5;
  --bg-1: #fef2f2;
  --bg-base: #fdfdfd;
}

body {
  background: var(--bg-base);
  overflow-x: hidden;
}

.app {
  width: 100vw;
  height: 100%;
  background: 
    radial-gradient(circle at 15% 50%, var(--bg-1), rgba(255, 255, 255, 0) 50%), 
    radial-gradient(circle at 85% 30%, var(--bg-2), rgba(255, 255, 255, 0) 25%);
}